/* .carousel .slide{
    background: #ffffff !important;
} */
*{
    font-family: 'Rouge Script', cursive;
    font-size: 1.1em;
}
.carousel .control-dots{
    margin:0px auto !important;
    background: #000000;
    position: relative!important;
    display: none;
}

.carousel li.slide img{
    object-fit: contain;
    height:600px;
}

.carousel-status{
    display:none!important
}

li div h2{
    color:white
}